body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    margin-top: 30px;
    height: 700px;
    width: 350px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.display {
    flex-grow: 1;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-right: 30px;
    margin-left: 30px;
    font-family: "Roboto Mono", monospace;
}

.buttons {
    flex-grow: 2;
    margin-top: 10px;
    margin-bottom: 70px;
    margin-left: 20px;
    margin-right: 23px;
    padding: 0px;
}

.firstRow, .secondRow, .thirdRow, .fourthRow, .fifthRow {
    display: flex;
    height: 20%;
    width: 100%;
    margin: 5px;
}

.button {
    height: 100%;
    width: 25%;
    border-radius: 100%;
    background-color: #2A2A2C;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 150%;
    color: #ffff;
    font-family: "Roboto Mono", monospace;
}

.firstRow .button {
    background-color: #5C5C5F;
}

.calculate {
    background-color: #FF9F0A;
}

#division {
    background-color: #FF9F0A;
}

.upperDisplay {
    color: #919198;
    font-size: 20px;
}

.lowerDisplay {
    color: #ffff;
    font-size: 50px;
}